.weatherResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
}

.temperature {
  font-weight: bold;
  font-size: 8em;
}

.city {
  font-size: 3em;
}

.description {
  font-size: 2em;
  margin: 10px 0 30px 0;
}

.weatherBg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13vh;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}

.weatherGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 15px;
  grid-row-gap: 25px;
  margin-bottom: 100px;
}

.weatherGridElement {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  text-align: center;justify-content: center;
}

.weatherGridElement h2 {
  position: absolute;
  top: 0;
}

.weatherGridElement > div {
  margin-top: 28px;
}

.uvi, .humidity {
  font-size: 4em;
}

.uvRatingRisk {
  margin-bottom: 5px;
  font-size: 1.3em;
}

.uvRatingDescription {
  font-size: 0.8em;
}

.content {
  width: 90%;
}

@media screen and (width > 1280px) {
  .weatherGrid {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (orientation: portrait) {
  .weatherBg {
    padding-top: 15vh;
  }

  .weatherGridElement {
    width: 100%;
  }

  .weatherGrid {
    grid-template-columns: 100%;
  }
}