.weatherResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.weatherResult h2, .weatherResult p {
  mix-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 1);
}