/* src/index.css */
body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

/* src/components/Weather/index.css */
input {
  background: url(./search-icon-F266S5RP.png);
  padding: 0;
  margin: 0;
  border: 1px solid red;
  border-radius: 4px;
}

/* src/components/WeatherResult/index.css */
.weatherResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.weatherResult h2,
.weatherResult p {
  mix-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 1);
}
