/* src/components/Weather/index.css */
.weather {
  width: 100vw;
  height: 100vh;
  background: aliceblue;
}

/* src/components/SearchForm/index.css */
.searchForm {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.searchFormResult {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.searchFormResult .locationSearchInput {
  background-color: white;
}
.locationSearchInput {
  width: 250px;
  cursor: pointer;
  background: url(/assets/search-icon-F266S5RP.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px 10px 30px;
  margin: 0;
  border: 0;
  border-radius: 8px;
  outline: none;
}
.locationSearchInput:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
.autocompleteDropdownContainer {
  position: absolute;
  width: 300px;
}
.suggestionItem,
.suggestionItem--active {
  cursor: pointer;
  padding: 5px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.suggestionItem:hover,
.suggestionItem--active:hover {
  cursor: pointer;
  padding: 5px !important;
}
.suggestionItem {
  background-color: #FFF;
}
.suggestionItem--active {
  background-color: #FAFAFA;
}

/* src/components/WeatherResult/index.css */
.weatherResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
}
.temperature {
  font-weight: bold;
  font-size: 8em;
}
.city {
  font-size: 3em;
}
.description {
  font-size: 2em;
  margin: 10px 0 30px 0;
}
.weatherBg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13vh;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}
.weatherGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 15px;
  grid-row-gap: 25px;
  margin-bottom: 100px;
}
.weatherGridElement {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  text-align: center;
  justify-content: center;
}
.weatherGridElement h2 {
  position: absolute;
  top: 0;
}
.weatherGridElement > div {
  margin-top: 28px;
}
.uvi,
.humidity {
  font-size: 4em;
}
.uvRatingRisk {
  margin-bottom: 5px;
  font-size: 1.3em;
}
.uvRatingDescription {
  font-size: 0.8em;
}
.content {
  width: 90%;
}
@media screen and (width > 1280px) {
  .weatherGrid {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
@media (orientation: portrait) {
  .weatherBg {
    padding-top: 15vh;
  }
  .weatherGridElement {
    width: 100%;
  }
  .weatherGrid {
    grid-template-columns: 100%;
  }
}

/* src/index.css */
body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}
